<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'layoutApp/css/index.css'%}">
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <title>Layout Application</title>

</head>

<body>
    <b>GEO PROJECT</b>
    <div id="mapid"></div>
    <div id="vector" class="select-vector">
        <form action="vector_Select" method="get">
            <input type="checkbox" id="school" name="school" onchange="taginfo(School)" />
            <label for="school">School</label><br>
            <input type="checkbox" id="Hospital" name="Hospital" onchange="taginfo(Hospital)" />
            <label for="Hospital">Hospital</label><br>
            <input type="checkbox" id="Road" name="Road" onchange="taginfo(Road)" />
            <label for="Road">Road</label><br>
            <input type="checkbox" id="House" name="House" onchange="taginfo(House)" />
            <label for="House">House</label><br>
            <input type="submit" value='Submit' onsubmit="getboundary(????)"/> 
        </form>
    </div>
</body>

</html>

<script src="{% static 'layoutApp/js/index.js' %}"></script>